In [3]:
import psycopg2

In [ ]:
#create a database

'''
CREATE DATABASE atm_proje
    WITH
    OWNER = postgres
    ENCODING = 'UTF8'
    LC_COLLATE = 'C'
    LC_CTYPE = 'C'
    TABLESPACE = pg_default
    CONNECTION LIMIT = -1
    IS_TEMPLATE = False;
'''

In [4]:

conn = psycopg2.connect("dbname=atm_proje user = postgres password=12345")
cur = conn.cursor() 
command = '''create table customer_info
(
    customer_id integer primary key,
    password integer       NOT NULL,
    first_name varchar(20) NOT NULL,
    surname varchar(20) NOT NULL,
    email varchar(20) NOT NULL,
    balance integer
    
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [5]:
conn = psycopg2.connect("dbname=atm_proje user = postgres password=12345")
cur = conn.cursor() 
command = '''create table admin_info
(
    admin_id integer primary key,
    self_now date   not null

) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [31]:
conn = psycopg2.connect("dbname=atm_proje user = postgres password=12345")
cur = conn.cursor() 
command = '''create table money_actions
(
    moneyactions_id   integer  primary key,
    customer_id       integer  ,
    FOREIGN KEY (customer_id)
        REFERENCES customer_info (customer_id)
        ON UPDATE CASCADE ON DELETE CASCADE, 
    withdraw_money  integer,
    deposit_money   integer,
    internal_money  integer,
    external_money  integer,
    balance         integer
   
   
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [20]:
conn = psycopg2.connect("dbname=atm_proje user = postgres password=12345")
cur = conn.cursor() 
command = '''create table customer_actions
(
    customer_id     integer   PRIMARY KEY  FOREIGN KEY,
    action_date     date      not null,
    cust_actions    varchar(40)  not null 
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

SyntaxError: syntax error at or near "FOREIGN"
LINE 3:     customer_id     integer   PRIMARY KEY  FOREIGN KEY,
                                                   ^